/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

#art-main, table
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   text-align: left;
   line-height: 150%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   text-align: justify;
}

.art-postcontent p
{
   margin: 0 0 6px;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-logo-name, .art-logo-name a, .art-logo-name a:link, .art-logo-name a:visited, .art-logo-name a:hover,
.art-logo-text, .art-logo-text a, .art-logo-text a:link, .art-logo-text a:visited, .art-logo-text a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   text-align: left;
   line-height: 125%;
}

.art-postcontent a
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #EB7D00;
}

.art-postcontent a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #EB7D00;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   color: #EB7D00;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   color: #EB7D00;
}

.art-postcontent h1
{
   color: #333333;
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 24px;
   letter-spacing: -1px;
}

.art-blockcontent h1
{
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 24px;
   letter-spacing: -1px;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-weight: normal;
   font-size: 24px;
   letter-spacing: -1px;
}

.art-postcontent h2
{
   color: #333333;
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 20px;
   letter-spacing: -1px;
}

.art-blockcontent h2
{
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 20px;
   letter-spacing: -1px;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-weight: normal;
   font-size: 20px;
   letter-spacing: -1px;
}

.art-postcontent h3
{
   color: #333333;
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-blockcontent h3
{
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-postcontent h4
{
   color: #333333;
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-blockcontent h4
{
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-postcontent h5
{
   color: #333333;
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-blockcontent h5
{
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-postcontent h6
{
   color: #333333;
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-blockcontent h6
{
   margin: 9px 0 3px;
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-weight: normal;
   font-size: 18px;
   letter-spacing: -1px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#art-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1100px;
   color: #333333;
   background-color: #DBDBDB;
   background-image: url('../images/Bottom_texture.jpg');
   background-repeat: repeat-x;
   background-attachment: fixed;
   background-position: center left;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.art-box, .art-box-body {
   margin:0 auto;
   position:relative;
}
.art-box:before, .art-box:after, .art-box-body:before, .art-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.art-box:before,.art-box-body:before{
   left:0;
}
.art-box:after,.art-box-body:after{
   right:0;
}
.art-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.art-box:after {
   background-position: bottom right;
   z-index:-3;
}
.art-box-body:before, .art-box-body:after {
   background-repeat:repeat-y;
}
.art-box-body:before {
   background-position: top left;
   z-index:-3;
}
.art-box-body:after {
   background-position: top right;
   z-index:-3;
}

.art-box .art-box:before, .art-box .art-box:after, .art-box-body .art-box-body:before, .art-box-body .art-box-body:after {
   z-index:-2;
}
.art-box .art-box .art-box:before, .art-box .art-box .art-box:after, .art-box-body .art-box-body .art-box-body:before, .art-box-body .art-box-body .art-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.art-bar {
   position:relative;
}
.art-bar:before, .art-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.art-bar:before {
   left:0;
   background-position: top left;
}
.art-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .art-postcontent li h1, .art-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent-body li p 
{
   margin:1px;
} 
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
   max-width:1100px;
   margin-top: 0;
   margin-bottom: 0;
   cursor:auto;
   width: 1100px;
}
.art-sheet-body 
{
   padding:3px;
   min-width:20px;
   min-height:20px;
   padding-top:0;
   padding-bottom:0;
}
.art-sheet:before, .art-sheet:after 
{
   content: url('../images/sheet_t.png');
   font-size: 0;
   background-image: url('../images/sheet_b.png');
}
.art-sheet:after{
   clip:rect(auto, auto, auto, 1087px);
}
.art-sheet:before,.art-sheet-body:before{
   right:13px;
}
.art-sheet-body:after{
   width: 13px;
   top:13px;
   bottom:13px;
   background-image:url('../images/sheet.png');
}
.art-sheet-body:before{
   top:13px;
   bottom:13px;
   background-image:url('../images/sheet.png');
}

/* end Box, Sheet */

/* begin Header */
div.art-header
{
   margin: 0 auto;
   position: relative;
   width:100%;
   height: 85px;
   margin-top: 0;
   margin-bottom: 0;
}

.art-header:before
{
   position: absolute;
   display:block;
   content:' ';
   z-index:-2;
   top: 0;
   width:100%;
   height: 85px;
   background-image: url('../images/header.png');
   background-repeat: no-repeat;
   background-position:top right;
}

/* end Header */

/* begin HeaderObject */
div.art-headerobject
{
   display: block;
   left: 3%;
   margin-left: -6px;
   position: absolute;
   top: 18px;
   width: 182px;
   height: 58px;
   background-image: url('../images/header-object.png');
}
/* end HeaderObject */

/* begin Logo */
div.art-logo
{
   display: block;
   position: absolute;
   top: 20px;
   left: 0;
   margin-left: 0;
}

/* end Logo */

/* begin Menu */
/* menu structure */

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.art-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.art-hmenu li li{
   float: none;
   width: auto;
}
ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.art-hmenu, ul.art-hmenu ul {
   min-height: 0;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.art-hmenu ul.art-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.art-hmenu ul.art-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
   z-index: -1;
}

ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
}

ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
   margin-right: -11px;
}

ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.art-hmenu{
   position:relative;
   padding: 3px 20px 3px 20px;
   float: left;
}

/* end menu structure */

/* menu bar */

.art-nav
{
   margin:0 auto;
   min-height: 32px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
}

.art-nav:before, .art-nav:after{
   background-image: url('../images/nav.png');
}
.art-nav:before{
   right: 0;
}
.art-nav:after{
   width: 0;
}
/* end menu bar */
.art-nav-outer{
   position:absolute;
   width:100%;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: 32px;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: 32px;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

/* images in menu items */
ul.art-hmenu img.art-menu-image, ul.art-hmenu img.art-menu-image-left
{
   vertical-align: middle;
   margin-right: 5px;
}

ul.art-hmenu img.art-menu-image-right
{
   vertical-align: middle;
   margin-left: 5px;
}
/* end Menu */

/* begin MenuItem */
ul.art-hmenu>li>a
{
   position: relative;
   display: block;
   height: 26px;
   cursor: pointer;
   text-decoration: none;
   color: #004F9C;
   padding: 0 8px;
   line-height: 26px;
   text-align: center;
}

ul.art-hmenu>li>a:before, ul.art-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.art-hmenu>li>a:before
{
   left: 0;
   right: 4px;
   background-position: top left;
}

ul.art-hmenu>li>a:after
{
   width: 4px;
   right: 0;
   background-position: top right;
}

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
{
   font-size: 14px;
   text-transform: uppercase;
}

ul.art-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.art-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.art-hmenu>li>a.active {
   color: #EB7D00;
}

ul.art-hmenu>li>a:hover:before, ul.art-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.art-hmenu>li>a:hover:after, ul.art-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a{
   color: #EB7D00;
}

.art-hmenu a:hover.separator-without-submenu 
{
   cursor: default;
}

.art-hmenu a:hover.separator-without-submenu .t
{
   color: #004F9C;
}

.art-hmenu li:hover a.separator-without-submenu .t
{
   color: #004F9C;
}

a:hover.separator-without-submenu .r, a:hover.separator-without-submenu .l 
{
   top: 0 !important;
}
/* end MenuItem */

/* begin MenuSeparator */

ul.art-hmenu>li {
   margin-left:8px;
}
ul.art-hmenu>li:first-child {
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   background-image: url('../images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 1px;
   border-style: solid;
   border-top-width: 0;
   border-color: #CCCCCC;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #004F9C;
   font-variant: normal;
   font-size: 12px;
   text-transform: none;
   margin:0;
   padding: 0 8px;
}

.art-hmenu ul>li:first-child>a
{
   border-top-width: 1px;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a:hover, .art-hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #004F9C;
   font-variant: normal;
   font-size: 12px;
   text-transform: none;
   margin:0;
   padding: 0 8px;
}

.art-hmenu ul li a:hover
{
   color: #EB7D00;
   background-position: left bottom;
   border-color: #CCCCCC;
   border-top-width: 1px !important;
}

.art-hmenu ul li a.art-hmenu-before-hovered
{
   border-bottom-width: 0 !important;
}

.art-hmenu ul li:hover>a
{
   color: #EB7D00;
   background-position: left bottom;
   border-color: #CCCCCC;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Layout */
.art-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.art-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row {
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
   max-width:1094px;
   margin: 0;
}
.art-vmenublock-body 
{
   padding:20px;
}
.art-vmenublock:before,.art-vmenublock-body:before{
   right:0;
}
.art-vmenublock-body:after{
   width: 0;
   top:0;
   bottom:0;
   background-image:url('../images/vmenublock.png');
}
.art-vmenublock-body:before{
   top:0;
   bottom:0;
   background-image:url('../images/vmenublock.png');
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
   max-width:1094px;
}
.art-vmenublockcontent-body 
{
   padding:0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu ul
{
   list-style: none;
   display: block;
}

ul.art-vmenu, ul.art-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.art-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.art-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position:relative;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul.active
{
   display: block;
}

/* images in menu items */
ul.art-vmenu img.art-menu-image, ul.art-vmenu img.art-menu-image-left
{
   vertical-align: middle;
   margin-right: 5px;
}

ul.art-vmenu img.art-menu-image-right
{
   vertical-align: middle;
   margin-left: 5px;
}
/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index:0;
   text-decoration: none;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   margin-left:0;
   margin-right:0;
   position:relative;
}

ul.art-vmenu li{
   position:relative;
}

ul.art-vmenu>li>a 
{
   color: #004F9C;
   padding: 0 10px 0 10px;
   height: 30px;
   line-height: 30px;
   white-space: nowrap;
}

ul.art-vmenu>li>a.active {
   color: #EB7D00;
}
ul.art-vmenu a:hover, ul.art-vmenu a.active:hover {
   color: #EB7D00;
}

ul.art-vmenu>li>a:before, ul.art-vmenu>li>a:after 
{
   position: absolute;
   display: block;
   content: ' ';
   z-index:-1;
   background-image: url('../images/vmenuitem.png');
   top:0;
   height:30px;
}

ul.art-vmenu>li>a:before{
   left: 0;
   right: 0;
   background-position: top left;
}
ul.art-vmenu>li>a:after{
   width: 0;
   right: 0;
   background-position: top right;
}
ul.art-vmenu>li>a.active:before {
   background-position: bottom left;
}
ul.art-vmenu>li>a.active:after {
   background-position: bottom right;
}
ul.art-vmenu>li>a:hover {
   background-color: transparent;
}
ul.art-vmenu>li>a:hover:before  {
   background-position: center left;
}
ul.art-vmenu>li>a:hover:after {
   background-position: center right;
}

ul.art-vmenu>li{
   margin-top:1px;
}
ul.art-vmenu>li>ul{
   margin-top:1px;
   padding-bottom: 0;
}
ul.art-vmenu>li:first-child{
   margin-top:0;
}                                                     

ul.art-vmenu>li:before, ul.art-vmenu>li>ul:before{
   display: block;
   position:absolute;
   content: ' ';
   height: 0;
   top:-1px;
   left:0;
   right:0;
   z-index:1;
   border-bottom: solid 1px #CCCCCC;
}

ul.art-vmenu>li:first-child:before,ul.art-vmenu>li:first-child:after{
   display:none;
}  

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul li{
   margin: 0;
   padding: 0;
}
ul.art-vmenu li li, ul.art-vmenu li li a {
   position:relative;
}

ul.art-vmenu ul a
{
   display: block;
   position:relative;
   white-space: nowrap;
   height: 20px;
   overflow: visible;
   background-image: url('../images/vsubitem.png');
   background-repeat: repeat-x;
   background-position: top left;
   padding:0;
   padding-left:25px;
   padding-right:0;
   line-height: 20px;
   color: #004F9E;
   font-size: 11px;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul a.active{
   background-position: bottom left;
}
ul.art-vmenu ul a:hover{
   background-position: center left;
   line-height: 20px;
   color: #004F9E;
   font-size: 11px;
   margin-left: 0;
   margin-right: 0;
}
ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active{
   background-position: left center;
}

ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:active
{
   line-height: 20px;
   color: #004F9E;
   font-size: 11px;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu>li>ul>li:first-child{
   padding-top: 0;
   margin-top:0;
}
 
ul.art-vmenu li li{
   position:relative;
   margin-top:1px;
}

ul.art-vmenu li li:after
{
   display: block;
   position:absolute;
   content: ' ';
   height: 0;
   top:-1px;
   left:0;
   right:0;
   z-index:1;
   border-bottom: solid 1px #CCCCCC;
}

ul.art-vmenu li li:before
{
   display: block;
   position:absolute;
   content: ' ';
   left:0;
   right:0;
   top: -1px;
   z-index:0;
   height: 1px;
}
ul.art-vmenu>li>ul>li:first-child:before,ul.art-vmenu>li>ul>li:first-child:after{
   display:none;
}

ul.art-vmenu ul ul a{
   padding-left:50px;
}
ul.art-vmenu ul ul ul a{
   padding-left:75px;
}
ul.art-vmenu ul ul ul ul a{
   padding-left:100px;
}
ul.art-vmenu ul ul ul ul ul a{
   padding-left:125px;
}

ul.art-vmenu ul li a.active {
   color: #EB7D00;
}
ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active {
   color: #EB7D00;
}

/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
   max-width:1094px;
   margin: 7px;
}
.art-block-body 
{
   padding:0;
}

div.art-block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader {
   margin-bottom: 0;
   min-height: 32px;
   line-height:32px;
}
.art-blockheader:before, .art-blockheader:after{
   background-image: url('../images/blockheader.png');
}
.art-blockheader:before{
   right: 17px;
}
.art-blockheader:after{
   width: 17px;
}

.art-blockheader .t
{
   min-height: 32px;
   line-height:32px;
   color: #004F9C;
   font-weight: normal;
   font-size: 12px;
   margin:0;
   padding: 0 10px 0 23px;
   white-space: nowrap;
}

.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #004F9C;
   font-weight: normal;
   font-size: 12px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
   max-width:1094px;
}
.art-blockcontent-body 
{
   padding:10px;
   color: #333333;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
}
.art-blockcontent-body table,
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
   color: #333333;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
}

.art-blockcontent-body a, .art-blockcontent-body a:link
{
   color: #EB7D00;
   text-decoration: none;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
   color: #EB7D00;
   text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
   color: #EB7D00;
}

.art-blockcontent-body ul li
{
   text-decoration: none;
   line-height: 150%;
   color: #3D3D3D;
   padding: 0 0 0 10px;
   background-image: url('../images/blockcontentbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Button */
span.art-button-wrapper>a.art-button,
span.art-button-wrapper>a.art-button:link,
span.art-button-wrapper>input.art-button,
span.art-button-wrapper>button.art-button
{
   text-decoration: none;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #F7FBFD !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 30px;
   height: 30px;
   margin: 0 !important;
   padding: 0 14px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.art-button img, span.art-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.art-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 30px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:1094px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.art-button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
}

div.art-block select 
{
   width:96%;
}

span.art-button-wrapper.hover>.art-button, span.art-button-wrapper.hover>a.art-button:link
{
   color: #F7FBFD !important;
   text-decoration: none !important;
}

span.art-button-wrapper.active>.art-button, span.art-button-wrapper.active>a.art-button:link
{
   color: #F7FBFD !important;
}

span.art-button-wrapper>span.art-button-l, span.art-button-wrapper>span.art-button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('../images/button.png');
   background-repeat: no-repeat;
}

span.art-button-wrapper>span.art-button-l
{
   left: 0;
   right: 7px;
   background-position: top left;
}

span.art-button-wrapper>span.art-button-r
{
   width: 7px;
   right: 0;
   background-position: top right;
}

span.art-button-wrapper.hover>span.art-button-l
{
   background-position: center left;
}

span.art-button-wrapper.hover>span.art-button-r
{
   background-position: center right;
}

span.art-button-wrapper.active>span.art-button-l
{
   background-position: bottom left;
}

span.art-button-wrapper.active>span.art-button-r
{
   background-position: bottom right;
}

span.art-button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
   max-width:1094px;
   margin: 5px;
}
.art-post-body 
{
   padding:10px;
}

a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   border-color: #CCCCCC;
   border-style: solid;
   border-width: 1px;
   margin: 5px 5px 5px 5px;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.art-article
{
   border-collapse: separate;
}/* end Box, Post */

/* begin PostHeaderIcon */
.art-postheader
{
   color: #333333;
   margin: 9px 0 3px;
   line-height: 1.25em;
   font-weight: normal;
   font-size: 24px;
   letter-spacing: -1px;
   word-spacing: 0;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-weight: normal;
   font-size: 24px;
   letter-spacing: -1px;
   word-spacing: 0;
}

.art-postheader a, .art-postheader a:link
{
   text-decoration: none;
   color: #333333;
}

.art-postheader a:visited, .art-postheader a.visited
{
   color: #333333;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   color: #333333;
}

/* end PostHeaderIcon */

/* begin PostMetadata, PostMetadataHeader */
.art-postmetadataheader
{
   position:relative;
   z-index:1;
   padding: 1px;
   background-image: url('../images/postmetadataheader_bg.png');
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 125%;
   color: #333333;
}

.art-postheadericons
{
   padding: 1px;
   margin: 9px 0 3px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   text-decoration: none;
   color: #EB7D00;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   color: #EB7D00;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   color: #EB7D00;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostEditIcon */
span.art-postediticon
{
   background:url('../images/postediticon.png') no-repeat left 0.625em;
   padding-top:7px;
   margin-top:-7px;
   padding-left:20px;
   min-height:14px;
   display:inline-block;
   line-height: 1.25em;
}

span.art-postediticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEditIcon */

/* begin PostBullets */
.art-postcontent ol, .art-postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.art-postcontent li
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-size: 12px;
   line-height: 125%;
   color: #3D3D3D;
   padding: 0 0 0 10px;
}

.art-postcontent li ol, .art-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.art-postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li
{
   background-image: url('../images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 10px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #3D3D3D;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
}

blockquote
{
   margin: 10px;
   padding: 0;
   background-color: #FFFFFF;
   margin-left: 50px;
   padding-left: 37px;
   background-image: url('../images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   text-decoration: none;
   color: #333333;
}

.art-postfootericons
{
   padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
   color: #EB7D00;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
   color: #EB7D00;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
   color: #EB7D00;
}

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */
span.art-postcategoryicon
{
   background:url('../images/postcategoryicon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:24px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.art-postcategoryicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCategoryIcon */

/* begin Footer */
.art-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.art-footer-body
{
   position:relative;
   padding: 5px;
   color: #3D3D3D;
   font-size: 11px;
}

.art-footer-body ul li
{
   color: #0054A8;
}

.art-footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:0;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.art-footer-body .art-rss-tag-icon
{
   position: absolute;
   left:   6px;
   bottom:5px;
   z-index:1;
}

.art-rss-tag-icon
{
   display: block;
   background-image: url('../images/livemarks.png');
   background-repeat: no-repeat;
   height: 32px;
   cursor: default;
   background-position: left;
   padding-left: 32px;
   width: auto;
   line-height: 32px;
   font-size: 11px;
}

.art-footer-text p
{
   padding:0;
   margin:0;
   text-align: left;
}

.art-footer-body a,
.art-footer-body a:link,
.art-footer-body a:visited,
.art-footer-body a:hover,
.art-footer-body td, 
.art-footer-body th,
.art-footer-body caption
{
   color: #3D3D3D;
   font-size: 11px;
}

.art-footer-text
{
   min-height: 32px;
   padding-left: 48px;
   padding-right: 10px;
   text-align: left;
}

.art-footer-body a,
.art-footer-body a:link
{
   color: #EB7D00;
   text-decoration: none;
}

.art-footer-body a:visited
{
   color: #EB7D00;
}

.art-footer-body a:hover
{
   color: #EB7D00;
}

div.art-footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 1px;
   border-color: #CCCCCC;
   border-style: solid;
   margin: 0;
}

.art-rss-tag-icon span
{
   padding-left: .5em;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #EB7D00;
}

.art-page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #3D3D3D;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.art-content-layout .art-sidebar1
{
   width: 15%;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, sidebar2 */
.art-content-layout .art-sidebar2
{
   width: 20%;
}
/* end LayoutCell, sidebar2 */

/* pagination */

.pagination
{
   margin: 0;
   padding: 0;
   text-align: center;
}

.pagination span
{
   margin: 0;
   padding: 0;
}

.pagination a
{
   padding: 2px;
}

/* article navigation */

.pagenav
{
   width: 100%;
}

.pagenav td,
.pagenav th
{
   border: none;
   font-weight: normal;
}

/* login module */

#form-login fieldset.input
{
   border: none;
   margin: 0;
   padding: 0;
}

#form-login br
{
   display: none;
}

#form-login p
{
   margin: 0.5em 0 0 0;
}

#form-login #form-login-username label,
#form-login #form-login-password label
{
   display: block;
}

#form-login #form-login-remember input
{
   margin: 0;
   padding: 0;
   vertical-align: bottom;
   position: relative;
   top: -1px;
}

#form-login #modlgn_username,
#form-login #modlgn_passwd
{
   width: 95%;
   margin: 0;
   padding: 0;
}

#form-login ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#form-login ul li
{
   background-image: none;
   padding: 0;
}

#fancybox-overlay
{
display: none !important;
}